# Auto-detect text files and normalize line endings
* text=auto

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.otf binary

# Preserve byte sequences in patches
*.patch -text
*.diff -text
