/*
  CSS for shiny.ui.busy_indicators module.

  The general idea is to leverage the `recalculating` class that shiny.js adds to each
  output when it's recalculating and add a spinner to the `::after` pseudo-element.
*/

/* "Built-in" spinner types */
:root {
  --_shiny-spinner-type-tadpole: url(tadpole-spinner.svg);
  --_shiny-spinner-type-disc: url(disc-spinner.svg);
  --_shiny-spinner-type-dots: url(dots-spinner.svg);
  --_shiny-spinner-type-dot-track: url(dot-track-spinner.svg);
  --_shiny-spinner-type-bounce: url(ball.svg);
}

/* A reusable mixin for "core" spinner styles */
@mixin shiny-spinner-core {
  --_shiny-spinner-mask-img: var(--shiny-spinner-mask-img, var(--_shiny-spinner-type-tadpole));
  --_shiny-spinner-color: var(--shiny-spinner-color, var(--bs-primary, #007bc2));
  --_shiny-spinner-size: var(--shiny-spinner-size, 40px);
  --_shiny-spinner-easing: var(--shiny-spinner-easing, linear);
  --_shiny-spinner-speed: var(--shiny-spinner-speed, 2s);
  --_shiny-spinner-delay: var(--shiny-spinner-delay, 0.5s);
  --_shiny-spinner-animation: var(--shiny-spinner-animation, shiny-busy-spinner-spin);

  /* Apply the spinner type as a mask */
  mask-image: var(--_shiny-spinner-mask-img);
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-image: var(--_shiny-spinner-mask-img);
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;

  /* Color and sizing */
  background: var(--_shiny-spinner-color);
  position: absolute;
  width: var(--_shiny-spinner-size);
  height: var(--_shiny-spinner-size);

  /* Animation */
  animation-name: var(--_shiny-spinner-animation);
  animation-duration: var(--_shiny-spinner-speed);
  animation-iteration-count: infinite;
  animation-timing-function: var(--_shiny-spinner-easing);
  animation-delay: var(--_shiny-spinner-delay);

  content: "";
  scale: 0;
  opacity: 1;
}

/* Output-level spinners */
@mixin shiny-output-spinner {
  @include shiny-spinner-core;
  inset: calc(50% - var(--_shiny-spinner-size) / 2);
}

/* Page-level spinner */
@mixin shiny-page-spinner {
  @include shiny-spinner-core;
  inset: 1rem 1rem auto auto;
}

[data-shiny-busy-indicator-mode="spinners"] {
  .recalculating {
    position: relative;
    /* Overlay the spinner on recalculating outputs */
    &::after {
      @include shiny-output-spinner;
    }
    /*
      shiny.css puts `opacity: 0.3` on .recalculating, which unfortunately applies to
      the spinner. Undo that, but still apply (smaller) opacity to the content.
    */
    opacity: 1;
    > * {
      opacity: 0.2;
    }
  }

  /* If shiny is busy (say, due to a effect/observe), show page-level spinner... */
  &.shiny-busy,
  &.shiny-not-yet-idle {
    position: relative;
    &::after {
      @include shiny-page-spinner;
    }
  }

  /* ... unless outputs are recalculating */
  &.shiny-busy:has(.recalculating)::after {
    display: none;
  }

  /*
    Disable spinner on the renderUI() container for 2 reasons:
      1. .shiny-html-output has on it `display: contents` (for other reasons), which breaks the positioning of the spinner.
      2. A spinner on this container can be redundant when it contains outputs
    As a compromise, we indicate progress on the container by changing the cursor.
  */
  .shiny-html-output.recalculating {
    cursor: progress;
    &::after {
      display: none;
    }
  }

  /* Opt-out class */
  .disable-shiny-spinners .recalculating::after {
    display: none;
  }

  .disable-shiny-spinners.recalculating::after {
    display: none;
  }
}

/****************************************
In spinner mode, if the page has anything recalculating, show progress cursor
*****************************************/
[data-shiny-busy-indicator-mode="spinner"] {
  /* If shiny is busy (say, due to a effect/observe), show a spinner in the top-right corner of the page */
  &.shiny-busy,
  &.shiny-not-yet-idle,
  &:has(.recalculating) {
    position: relative;
    &::after {
      @include shiny-page-spinner;
    }
  }
}

/****************************************
In cursor mode, if the page has anything recalculating, show progress cursor
*****************************************/
[data-shiny-busy-indicator-mode="cursor"] {
  &.shiny-busy,
  &.shiny-not-yet-idle,
  &:has(.recalculating) {
    cursor: progress;
  }

  /* Show a page-level spinner if on mobile */
  @media (max-width: 767px) {
    &.shiny-busy,
    &.shiny-not-yet-idle,
    &:has(.recalculating) {
      position: relative;
      &::after {
        @include shiny-page-spinner;
      }
    }
  }
}

/****************************************
  Keyframe that powers most spinner types
****************************************/
@keyframes shiny-busy-spinner-spin {
  0% {
    scale: 1;
    rotate: 0deg;
  }
  100% {
    scale: 1;
    rotate: 360deg;
  }
}

/* For busy_indicators.spinner_options(type="bounce") */
@keyframes shiny-busy-spinner-bounce {
  0% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    translate: 0 calc(var(--_shiny-spinner-size) * (5 / 24));
    scale: 1 1;
  }
  46.875% {
    translate: 0 calc(var(--_shiny-spinner-size) * (20 / 24));
    scale: 1 1;
  }
  50% {
    animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    translate: 0 calc(var(--_shiny-spinner-size) * (20.5 / 24));
    scale: 1.2 0.85;
  }
  53.125% {
    scale: 1 1;
  }
  100% {
    translate: 0 calc(var(--_shiny-spinner-size) * (5 / 24));
    scale: 1 1;
  }
}
