/* Prevent the prompt from going too wide */
.shiny-chat-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: auto;

  .message-container {
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;

    /* Make badges more circular */
    .badge {
      --bs-badge-padding-y: 0.65em;
      height: fit-content;
    }
  }

  .message-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p:last-child {
      margin-bottom: 0;
    }
    pre code {
      /* Fix alignment of first line in a code block */
      padding: 0;
    }
  }

  .shiny-chat-input {
    position: sticky;
    bottom: 0;
    margin-top: auto;
    padding: 0.25rem;
    background-color: var(--bs-body-bg, white);
  }
}
