shiny-chat-container {
  --shiny-chat-border: var(--bs-border-width, 1px) solid var(--bs-border-color, #e9ecef);
  --shiny-chat-user-message-bg: RGBA(var(--bs-primary-rgb, 0, 123, 194), 0.06);

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
  overflow: auto;
  padding: 0.25rem;

  p:last-child {
    margin-bottom: 0;
  }

  .suggestion,
  [data-suggestion] {
    cursor: pointer;
    color: var(--bs-link-color, #007bc2);

    text-decoration-color: var(--bs-link-color, #007bc2);
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;

    padding: 2px;

    &:hover {
      text-decoration-style: solid;
    }

    &::after {
      content: "\21B5";
      margin-inline-start: 0.25rem;
    }
  }
}

shiny-chat-messages {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

shiny-chat-message {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  gap: 1rem;
  > * {
    height: fit-content;
  }
  .message-icon {
    border-radius: 50%;
    border: var(--shiny-chat-border);
    > * {
      margin: 0.5rem;
      height: 20px;
      width: 20px;
    }
  }
  /* Vertically center the 2nd column (message content) */
  shiny-markdown-stream {
    align-self: center;
  }
}

/* Align the user message to the right */
shiny-user-message {
  align-self: flex-end;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  background-color: var(--shiny-chat-user-message-bg);
  max-width: 100%;
}

shiny-user-message,
shiny-chat-message {
  &[content_type="text"] {
    white-space: pre;
    overflow-x: auto;
  }
}

shiny-chat-input {
  margin-top: auto;
  position: sticky;
  background-color: var(--bs-body-bg, white);
  bottom: 0;
  textarea {
    --bs-border-radius: 26px;
    resize: none;
    padding-right: 36px !important;
    max-height: 175px;
    &::placeholder {
      color: var(--bs-gray-600, #707782) !important;
    }
  }
  button {
    position: absolute;
    bottom: 7px;
    right: 8px;
    background-color: transparent;
    color: var(--bs-primary, #007bc2);
    transition: color 0.25s ease-in-out;
    border: none;
    padding: 0;
    cursor: pointer;
    line-height: 16px;
    border-radius: 50%;
    &:disabled {
      cursor: not-allowed;
      color: var(--bs-gray-500, #8d959e);
    }
  }
}

/*
  Disable the page-level pulse when the chat input is disabled
  (i.e., when a response is being generated and brought into the chat)
*/
.shiny-busy:has(shiny-chat-input[disabled])::after {
  display: none;
}
