@use "highlight_styles" as highlight_styles;

shiny-chat-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  shiny-chat-messages {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 1rem;

    shiny-chat-message {
      display: grid;
      grid-template-columns: auto minmax(0, 1fr);
      gap: 1rem;

      /* Vertically center the message content */
      .message-content {
        height: fit-content;
        align-self: center;
      }

      /* Align the user message to the right */
      .message-user {
        grid-column: 2;
        justify-self: end;
        padding: 0.5rem 0.75rem;
        border-radius: 26px;
        background-color: var(--bs-light-bg-subtle, #fcfcfc);
        color: var(--bs-light-text-emphasis, #48505f);
        border: var(--bs-border-width, 1px) solid var(--bs-border-color, #e9ecef);
      }

      /* Make badges more circular */
      .badge {
        --bs-badge-padding-y: 0.65em;
        height: fit-content;
      }
    }
  }

  shiny-chat-input {
    margin-top: auto;
    position: sticky;
    bottom: 0;
    padding: 0.25rem;
    background-color: var(--bs-body-bg, white);

    .btn {
      --bs-btn-padding-x: 0.75em;
      --bs-btn-padding-y: 0.25em;
    }
    textarea {
      resize: none;
    }
  }
}

/*
  Disable the page-level pulse when the chat input is disabled
  (i.e., when a response is being generated and brought into the chat)
*/
.shiny-busy:has(shiny-chat-input[disabled])::after {
  display: none;
}

/* Code highlighting (for both light and dark mode) */
@include highlight_styles.atom_one_light;
[data-bs-theme="dark"] {
  @include highlight_styles.atom_one_dark;
}

/*
  Styling for the code-copy button (inspired by Quarto's code-copy feature)
*/
pre:has(.code-copy-button) {
  position: relative;
}

.code-copy-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  margin-top: 5px;
  margin-right: 5px;
  z-index: 3;
  background-color: transparent;

  > .bi {
    display: flex;
    gap: 0.25em;

    &::after {
      content: "";
      display: block;
      height: 1rem;
      width: 1rem;
      mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/><path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/></svg>');
      background-color: var(--bs-body-color, #222);
    }
  }
}

.code-copy-button-checked {
  > .bi::before {
    content: "Copied!";
    font-size: 0.75em;
    vertical-align: 0.25em;
  }

  > .bi::after {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/></svg>');
    background-color: var(--bs-success, #198754);
  }
}
