.shiny-data-grid .sort-arrow {
  font-size: 0.75em;
  opacity: 0.65;
}

.shiny-data-grid table {
  border-collapse: separate;
  border-spacing: 0;
}
.shiny-data-grid thead {
  position: sticky;
  top: 0;
  border-bottom: 1px solid black;
}
.shiny-data-grid thead th {
  white-space: nowrap;
}
