/*
  We replace the default loading/recalculating state of lowering the opacity with a
  background blur effect. It's a bit more subtle and also doesn't affect spinners themselves
  since they sit above the blur filter.
*/
.recalculating {
  /* Used so that our psuedo-elements can be positioned with respect to the output */
  position: relative;

  /* Override the default .recalculating style */
  opacity: 1;
}

.recalculating::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1000;
  animation-name: shiny-loading-spinner-fade-in;
  animation-duration: var(--_shiny-spinner-blur-speed);
  animation-timing-function: var(--_shiny-spinner-blur-easing);
  animation-delay: var(--_shiny-spinner-delay);
  /* This makes it so the blur stays after animating in */
  animation-fill-mode: forwards;
}

/*
  Various keyframe animations available to use for spinner animations.
*/

@keyframes shiny-loading-spinner-fade-in {
  from {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
  to {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}

@keyframes shiny-loading-spinner-spin {
  0% {
    scale: 1;
    rotate: 0deg;
  }
  100% {
    scale: 1;
    rotate: 360deg;
  }
}

@keyframes shiny-loading-spinner-bounce {
  0% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    translate: 0 calc(var(--_shiny-spinner-size) * (5 / 24));
    scale: 1 1;
  }
  46.875% {
    translate: 0 calc(var(--_shiny-spinner-size) * (20 / 24));
    scale: 1 1;
  }
  50% {
    animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    translate: 0 calc(var(--_shiny-spinner-size) * (20.5 / 24));
    scale: 1.2 0.85;
  }
  53.125% {
    scale: 1 1;
  }
  100% {
    translate: 0 calc(var(--_shiny-spinner-size) * (5 / 24));
    scale: 1 1;
  }
}
