/* Override the default styles since they would make the spinner fade as well */
body:has(.recalculating) {
  --_shiny-spinner-color: var(
    --shiny-spinner-color,
    var(--bs-primary, #007bc2)
  );
  --_shiny-spinner-svg: var(--shiny-spinner-svg, url(tadpole-spinner.svg));
  --_shiny-spinner-size: var(--shiny-spinner-size, 40px);
  --_shiny-spinner-easing: var(--shiny-spinner-easing, ease-in-out);
  --_shiny-spinner-speed: var(--shiny-spinner-speed, 2s);
  --_shiny-spinner-delay: var(--shiny-spinner-delay, 0.1s);
  --_shiny-spinner-animation: var(
    --shiny-spinner-animation,
    shiny-loading-spinner-spin
  );

  --_shiny-spinner-blur-speed: var(--shiny-spinner-blur-speed, 0.2s);
  --_shiny-spinner-blur-easing: var(--shiny-spinner-blur-easing, ease-in);

  --_shiny-spinner-content: "";
}

/* Turn off spinner if the page has a .no-spinner class somewhere */
body:has(.no-spinner) {
  --_shiny-spinner-content: none;
}

/*
  Here we can listen for a given spinner class and set the css variables appropriately
*/
body:has(.bounce-spinner) {
  /* Use the internal variable for the svg because we know what that should be */
  --_shiny-spinner-svg: url(ball.svg);
  --_shiny-spinner-animation: shiny-loading-spinner-bounce;

  /* Use the public variables for the other potentially over-ridable attributes */
  --shiny-spinner-speed: 0.8s;
}

body:has(.disc-spinner) {
  --_shiny-spinner-svg: url(disc-spinner.svg);

  --shiny-spinner-easing: linear;
}

body:has(.dots-spinner) {
  --_shiny-spinner-svg: url(dots-spinner.svg);

  --shiny-spinner-easing: linear;
}

body:has(.dot-track-spinner) {
  --_shiny-spinner-svg: url(dot-track-spinner.svg);

  --shiny-spinner-easing: linear;
}

/*
  Here we define the main spinner container: a psueo-element on the body
  that contains the spinner svg as a mask.
*/
.show-spinner.recalculating::after,
body:has(.recalculating)::after {
  content: var(--_shiny-spinner-content);
  background: var(--_shiny-spinner-color, gray);
  -webkit-mask: var(--_shiny-spinner-svg) center/contain no-repeat;
  mask: var(--_shiny-spinner-svg) center/contain no-repeat;
  width: var(--_shiny-spinner-size);
  height: var(--_shiny-spinner-size);

  scale: 0;
  animation-name: var(--_shiny-spinner-animation);
  animation-duration: var(--_shiny-spinner-speed);
  animation-iteration-count: infinite;
  animation-timing-function: var(--_shiny-spinner-easing);
  animation-delay: var(--_shiny-spinner-delay);

  top: var(--inset);
  right: var(--inset);
  z-index: 1001;
}

body:has(.recalculating)::after {
  --inset: max(0.5rem, 8px);
  position: fixed;
}

.show-spinner.recalculating {
  position: relative;
}

.show-spinner.recalculating::after {
  --inset: calc(50% - var(--_shiny-spinner-size) / 2);
  position: absolute;
}
