/* Override the default styles since they would make the spinner fade as well */
.recalculating {
  --_shiny-spinner-color: var(
    --shiny-spinner-color,
    var(--bs-primary, #007bc2)
  );
  --_shiny-spinner-svg: var(--shiny-spinner-svg, url(tadpole-spinner.svg));
  --_shiny-spinner-size: var(--shiny-spinner-size, 80px);
  --_shiny-spinner-easing: var(--shiny-spinner-easing, ease-in-out);
  --_shiny-spinner-speed: var(--shiny-spinner-speed, 2s);
  --_shiny-spinner-delay: var(--shiny-spinner-delay, 0.1s);

  --_shiny-spinner-blur-speed: var(--shiny-spinner-blur-speed, 0.2s);
  --_shiny-spinner-blur-easing: var(--shiny-spinner-blur-easing, ease-in);

  /* Setting the --shiny-spinner-grow-speed variable to a non-zero length will cause
     the spinner to grow into full size to make the transition a bit smoother.
  */
  --_shiny_spinner-grow-speed: var(--shiny-spinner-grow-speed, 0s);

  position: relative;
  /*
    This turns off the built-in greying out from the shiny styles. We replace it in
    favor of a blur effect that doesn't also effect the spinner.
  */
  opacity: 1;
}

.recalculating::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1000;
  animation-name: shiny-loading-spinner-fade-in;
  animation-duration: var(--_shiny-spinner-blur-speed);
  animation-timing-function: var(--_shiny-spinner-blur-easing);
  animation-delay: var(--_shiny-spinner-delay);
  /* This makes it so the blur stays after animating in */
  animation-fill-mode: forwards;
}

@keyframes shiny-loading-spinner-fade-in {
  from {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
  to {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}

.recalculating::after {
  content: "";
  background: var(--_shiny-spinner-color, gray);
  -webkit-mask: var(--_shiny-spinner-svg) center/contain no-repeat;
  mask: var(--_shiny-spinner-svg) center/contain no-repeat;
  width: var(--_shiny-spinner-size);
  height: var(--_shiny-spinner-size);
  position: absolute;
  inset: calc(50% - var(--_shiny-spinner-size) / 2);

  scale: 0;
  animation-name: shiny-loading-spinner-grow, shiny-loading-spinner-spin;
  animation-duration: var(--_shiny-spinner-grow-speed),
    var(--_shiny-spinner-speed);
  animation-iteration-count: 1, infinite;
  animation-timing-function: var(--_shiny-spinner-blur-easing),
    var(--_shiny-spinner-easing);
  animation-delay: var(--_shiny-spinner-delay);
  animation-fill-mode: forwards, none;
  z-index: 1001;
}

@keyframes shiny-loading-spinner-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes shiny-loading-spinner-grow {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
