quartodoc:
  style: pkgdown
  dir: api
  out_index: index.qmd
  package: shiny
  rewrite_all_pages: false
  sidebar: api/_sidebar.yml
  renderer:
    style: _renderer.py
    show_signature_annotations: false
  sections:
    - title: Page containers
      desc: Create a user interface page container.
      contents:
        - ui.page_sidebar
        - ui.page_navbar
        - ui.page_sidebar
        - ui.page_fillable
        - ui.page_fluid
        - ui.page_fixed
        - ui.page_bootstrap
        - ui.page_auto
        - ui.page_output
    - title: UI Layouts
      desc: Control the layout of multiple UI components.
      contents:
        - ui.sidebar
        - ui.layout_sidebar
        - ui.layout_columns
        - ui.layout_column_wrap
        - ui.card
        - ui.card_header
        - ui.card_footer
        - ui.popover
        - ui.tooltip
        - ui.accordion
        - ui.accordion_panel
        - ui.column
        - ui.row
    - title: UI Inputs
      desc: Create UI that prompts the user for input values or interaction.
      contents:
        - ui.input_select
        - ui.input_selectize
        - ui.input_slider
        - ui.input_date
        - ui.input_date_range
        - ui.input_checkbox
        - ui.input_checkbox_group
        - ui.input_switch
        - ui.input_radio_buttons
        - ui.input_numeric
        - ui.input_text
        - ui.input_text_area
        - ui.input_password
        - ui.input_action_button
        - ui.input_action_link
    - title: Value boxes
      desc: Prominently display a value and label in a box that can be expanded to show more information.
      contents:
        - ui.value_box
        - ui.value_box_theme
        - ui.showcase_bottom
        - ui.showcase_left_center
        - ui.showcase_top_right
        - ui.ValueBoxTheme
        - ui.ShowcaseLayout
    - title: Navigation (tab) panels
      desc: Create segments of UI content.
      contents:
        - ui.nav_panel
        - ui.nav_spacer
        - ui.nav_menu
        - ui.nav_control
        - ui.navset_bar
        - ui.navset_tab
        - ui.navset_pill
        - ui.navset_underline
        - ui.navset_card_tab
        - ui.navset_card_pill
        - ui.navset_card_underline
        - ui.navset_pill_list
        - ui.navset_hidden
    - title: UI panels
      desc: Visually group together a section of UI components.
      contents:
        - ui.panel_absolute
        - ui.panel_fixed
        - ui.panel_conditional
        - ui.panel_title
        - ui.panel_well
    - title: Uploads & downloads
      desc: Allow users to upload and download files.
      contents:
        - ui.input_file
        - ui.download_button
    - title: Custom UI
      desc: Lower-level UI functions for creating custom HTML/CSS/JS
      contents:
        - ui.HTML       # uses justattributes.rst template
        - ui.TagList    # uses class.rst template
        - name: ui.tags       # uses tags.rst template
          children: embedded
        - ui.markdown
        - ui.include_css
        - ui.include_js
        - ui.insert_ui
        - ui.remove_ui
        - ui.fill.as_fillable_container
        - ui.fill.as_fill_item
        - ui.fill.remove_all_fill
        # - ui.fill.is_fillable_container
        # - ui.fill.is_fill_item
        - ui.css.as_css_unit
        - ui.css.as_css_padding
    - title: Update inputs
      desc: Programmatically update input values.
      contents:
        - name: ui.update_select
          dynamic: true
        - name: ui.update_selectize
          dynamic: true
        - name: ui.update_slider
          dynamic: true
        - ui.update_date
        - name: ui.update_date_range
          dynamic: true
        - name: ui.update_checkbox
          dynamic: true
        - name: ui.update_checkbox_group
          dynamic: true
        - name: ui.update_switch
          dynamic: true
        - name: ui.update_radio_buttons
          dynamic: true
        - name: ui.update_numeric
          dynamic: true
        - ui.update_text
        - name: ui.update_text_area
          dynamic: "shiny.ui.update_text"
        - name: ui.update_navs
          dynamic: true
    - title: Update UI Layouts
      desc: ""
      contents:
        - ui.update_sidebar
        - ui.update_tooltip
        - ui.update_popover
        - ui.update_accordion
        - ui.update_accordion_panel
        - ui.insert_accordion_panel
        - ui.remove_accordion_panel
    - title: Rendering outputs
      desc: "UI (output_*()) and server (render)ing functions for generating content server-side."
      contents:
        - ui.output_plot
        - ui.output_image
        - ui.output_table
        - ui.output_data_frame
        - ui.output_text
        - ui.output_text_verbatim
        - ui.output_ui
        - render.plot
        - render.image
        - render.table
        - render.text
        - render.ui
        - render.data_frame
        - render.DataGrid
        - render.DataTable
        - kind: page
          path: OutputRender
          flatten: true
          summary:
            name: "Create rendering outputs"
            desc: ""
          contents:
            - render.renderer.Renderer
            - render.renderer.RendererBase
            - render.renderer.JSONifiable
            - render.renderer.ValueFn
            - render.renderer.AsyncValueFn
    - title: Reactive programming
      desc: ""
      contents:
        - reactive.calc
        - reactive.effect
        - reactive.value
        - reactive.Calc
        - reactive.Effect
        - reactive.Value
        - reactive.event
        - reactive.isolate
        - reactive.invalidate_later
        - reactive.flush
        - reactive.poll
        - reactive.file_reader
        - reactive.lock
        - req
    - title: Create and run applications
      desc: ""
      contents:
        - run_app
        # uses class.rst template
        - App
        - Inputs
        - Outputs
        - Session
    - title: Display messages
      desc: ""
      contents:
        - ui.help_text
        - ui.notification_show
        - ui.notification_remove
        - ui.modal
        - ui.modal_show
        - ui.modal_remove
        - ui.modal_button
        - ui.Progress          # uses class.rst
    - title: Modules
      desc: ""
      contents:
        # uses class.rst template
        - module.ui
        - module.server
    - title: Developer facing tools
      desc: ""
      contents:
        - session.get_current_session
        - session.require_active_session
        - session.session_context
        - reactive.get_current_context
        - name: input_handler.input_handlers
          dynamic: true
    - title: Types
      desc: ""
      contents:
        - kind: page
          path: MiscTypes
          flatten: true
          summary:
            name: "Miscellaneous types"
            desc: ""
          contents:
            - types.MISSING_TYPE
            - types.MISSING
            - types.FileInfo
            - types.ImgData
            - types.NavSetArg
            - ui.Sidebar
            - ui.CardItem
            - ui.AccordionPanel
            - ui.css.CssUnit
            - ui._input_slider.SliderValueArg
            - ui._input_slider.SliderStepArg
        - kind: page
          path: TagTypes
          summary:
            name: "Tag types"
            desc: ""
          flatten: true
          package: null
          contents:
            - htmltools.Tag
            - htmltools.TagAttrs
            - htmltools.TagAttrValue
            - htmltools.TagChild
            - htmltools.TagList
        - kind: page
          path: ExceptionTypes
          summary:
            name: "Exception types"
            desc: ""
          flatten: true
          contents:
            - types.SilentException
            - types.SilentCancelOutputException
            - types.SafeException
    - title: Shiny Express
      desc: Functions for Shiny Express applications
      contents:
        - kind: page
          path: ContextManagerComponents
          summary:
            name: "Context manager components"
            desc: ""
          flatten: true
          contents:
            - express.ui.sidebar
            - express.ui.layout_sidebar
            - express.ui.layout_column_wrap
            - express.ui.layout_columns
            - express.ui.card
            - express.ui.accordion
            - express.ui.accordion_panel
            - express.ui.nav_panel
            - express.ui.nav_control
            - express.ui.nav_menu
            - express.ui.navset_bar
            - express.ui.navset_card_pill
            - express.ui.navset_card_tab
            - express.ui.navset_card_underline
            - express.ui.navset_hidden
            - express.ui.navset_pill
            - express.ui.navset_pill_list
            - express.ui.navset_tab
            - express.ui.navset_underline
            - express.ui.value_box
            - express.ui.panel_well
            - express.ui.panel_conditional
            - express.ui.panel_fixed
            - express.ui.panel_absolute
        - kind: page
          path: PageFunctions
          summary:
            name: "Page functions"
            desc: ""
          flatten: true
          contents:
            - express.ui.page_opts
    - title: Deprecated
      desc: ""
      contents:
        - ui.panel_main
        - ui.panel_sidebar
        - ui.nav
        - render.transformer.resolve_value_fn
    - title: Experimental
      desc: "These methods are under consideration and are considered unstable. However, if there is a method you are excited about, please let us know!"
      contents:
        - kind: page
          path: ExCard
          summary:
            name: "Card"
            desc: "Cards are a common organizing unit for modern user interfaces (UI). At their core, they're just rectangular containers with borders and padding. However, when utilized properly to group related information, they help users better digest, engage, and navigate through content."
          flatten: true
          contents:
            - experimental.ui.card_body
            - experimental.ui.card_title
            - experimental.ui.card_image
            - experimental.ui.ImgContainer
            - experimental.ui.WrapperCallable
