name: Run deploy tests

on:
  workflow_dispatch:
  push:
    branches: ["main", "rc-*", "deploy-**"]

jobs:
  playwright-deploys:
    # Only allow one `playwright-deploys` job to run at a time. (Independent of branch / PR)
    # Only one is allowed to run at a time because it is deploying to the same server location.
    concurrency: playwright-deploys
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Matches deploy server python version
        python-version: ["3.10"]
        os: [ubuntu-latest]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - name: Setup py-shiny
        uses: ./.github/py-shiny/setup
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install rsconnect
        run: |
          # pip install rsconnect
          if [ "${{ runner.os }}" == "Windows" ]; then venv\Scripts\activate; else . venv/bin/activate; fi

          uv pip install "rsconnect_python @ git+https://github.com/rstudio/rsconnect-python.git"

      - name: Test that deployable example apps work
        timeout-minutes: 5 # ~10s locally
        env:
          DEPLOY_APPS: "false"
        run: |
          # make playwright-deploys
          if [ "${{ runner.os }}" == "Windows" ]; then venv\Scripts\activate; else . venv/bin/activate; fi

          make playwright-deploys SUB_FILE=". -vv"

      - name: Deploy apps and run tests (on `push` or `deploy**` branches)
        env:
          DEPLOY_APPS: "true"
          DEPLOY_CONNECT_SERVER_URL: "https://rsc.radixu.com/"
          DEPLOY_CONNECT_SERVER_API_KEY: "${{ secrets.DEPLOY_CONNECT_SERVER_API_KEY }}"
          DEPLOY_SHINYAPPS_NAME: "${{ secrets.DEPLOY_SHINYAPPS_NAME }}"
          DEPLOY_SHINYAPPS_TOKEN: "${{ secrets.DEPLOY_SHINYAPPS_TOKEN }}"
          DEPLOY_SHINYAPPS_SECRET: "${{ secrets.DEPLOY_SHINYAPPS_SECRET }}"
        timeout-minutes: 30
        # Given we are waiting for external servers to finish,
        # we can have many local processes waiting for deployment to finish
        run: |
          # make playwright-deploys
          if [ "${{ runner.os }}" == "Windows" ]; then venv\Scripts\activate; else . venv/bin/activate; fi

          make playwright-deploys SUB_FILE=". -vv --numprocesses 12"

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: "playright-deploys-${{ matrix.os }}-${{ matrix.python-version }}-results"
          path: test-results/
          retention-days: 5
